<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-buttons slot="start">
        <ion-menu-button menu="main-menu"></ion-menu-button>
      </ion-buttons>
    </ion-buttons>
    <ion-title>Discover Places</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [ngSwitch]="view">
  <div *ngSwitchCase="'loading-data'" name="loading-data" class="ion-text-center">
    <ion-spinner name="bubbles"></ion-spinner>
    <span>Loading places...</span>
  </div>

  <div *ngSwitchCase="'no-data'" name="no-data">
    <p class="ion-text-center">
      We can't find any places at the moment.
      <br>
      Please try again later.
    </p>
  </div>

  <div *ngSwitchCase="'data-loaded'" name="data-loaded">
    <ion-grid>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-segment [value]="currentFilter" (ionChange)="filterPlaces($event.detail.value)">
            <ion-segment-button value="all">
              <ion-label>All</ion-label>
            </ion-segment-button>
            <ion-segment-button value="bookable">
              <ion-label>Bookable</ion-label>
            </ion-segment-button>
          </ion-segment>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid name="no-places" *ngIf="!primaryPlace && !secondaryPlaces.length">
      <ion-row>
        <ion-col>
          <p>
            There are no places for you to book.
            <br>
            Please log in to be able to book a place.
          </p>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row *ngIf="primaryPlace">
        <ion-col>
          <app-place-primary [place]="primaryPlace" (cta)="showPlaceDetails(primaryPlace)"></app-place-primary>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="secondaryPlaces.length">
        <ion-col size="12">
          <ion-list>
            <app-place-secondary *ngFor="let item of secondaryPlaces" [place]="item" (cta)="showPlaceDetails(item)">
            </app-place-secondary>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>