<ion-item detail (click)="selectPlace()">
  <ion-thumbnail class="ion-margin-end">
    <img [src]="place.imageUrl" />
  </ion-thumbnail>
  <ion-label>
    <h2>
      {{place.title}}
    </h2>
    <p>
      {{place.description}}
    </p>
  </ion-label>
</ion-item>