<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-buttons slot="start">
        <ion-menu-button menu="main-menu"></ion-menu-button>
      </ion-buttons>
    </ion-buttons>
    <ion-title>My Offers</ion-title>
    <ion-buttons slot="primary">
      <ion-button [routerLink]="newOfferLink">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2" [ngSwitch]="view">
        <div name="loading-data" *ngSwitchCase="'loading-data'" class="ion-text-center">
          <ion-spinner name="bubbles"></ion-spinner>
          <span>Loading offers...</span>
        </div>

        <div name="no-data" *ngSwitchCase="'no-data'" class="ion-text-center">
          <p>There are no offers yet.</p>
          <ion-button [routerLink]="newOfferLink" expand="block">
            Create Offer
          </ion-button>
        </div>

        <ion-list name="data-loaded" *ngSwitchCase="'data-loaded'">
          <ion-item-sliding *ngFor="let offer of offers" #ionItemSliding>
            <ion-item>
              <ion-thumbnail slot="start">
                <ion-img [src]="offer.imageUrl"></ion-img>
              </ion-thumbnail>
              <ion-label>
                <h1>{{offer.title}}</h1>
                <p>
                  <span>
                    <ion-icon name="calendar-outline"></ion-icon>
                    {{offer.availableFrom | date}}
                  </span>
                  -
                  <span>
                    <ion-icon name="calendar-outline"></ion-icon>
                    {{offer.availableTo | date}}
                  </span>
                </p>
              </ion-label>
            </ion-item>
            <ion-item-options side="end">
              <ion-item-option>
                <ion-icon slot="icon-only" name="create-outline" (click)="ionItemSliding.close()"
                  [routerLink]="getEditOfferLink(offer.id)"></ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>