<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="defaultBackUrl"></ion-back-button>
    </ion-buttons>
    <ion-title>Place Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [ngSwitch]="view">
  <div *ngSwitchCase="'loading-data'" class="ion-text-center">
    <ion-spinner name="bubbles" color="primary"></ion-spinner>
    <span>Loading a palce...</span>
  </div>

  <ion-grid *ngSwitchCase="'data-loaded'" fixed class="ion-no-padding">
    <ion-row>
      <ion-col size-sm="6" offset-sm="3" class="ion-no-padding">
        <ion-img [src]="place.imageUrl"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <h1 class="ion-text-center">{{place.title}}</h1>
        <p class="ion-text-center">{{place.description}}</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <strong class="ion-text-center price">
          {{place.price | currency}}
        </strong>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="canBook">
      <ion-col size-sm="6" offset-sm="3" class="ion-padding-buttom">
        <ion-button color="primary" expand="block" class="ion-margin" (click)="bookPlace()">
          Book
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <ion-label class="ion-padding">{{place.location.address}}</ion-label>
        <ion-img [src]="getStaticMap()" (click)="observeLocation()"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>