<ion-header>
  <ion-toolbar>
    <ion-title>Authorize</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-padding-top">
    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <ion-segment [value]="view" (ionChange)="switchView($event.detail.value)">
          <ion-segment-button value="login">
            <ion-label>Login</ion-label>
          </ion-segment-button>
          <ion-segment-button value="signup">
            <ion-label>Signup</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-col>
    </ion-row>
  </ion-grid>

  <form [formGroup]="form">
    <ion-grid fixed>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input formControlName="email" type="email"></ion-input>
          </ion-item>
          <ion-item lines="none" *ngIf="isFormControlInvalid('email')">
            <ion-label color="danger">Please enter a valid email address.</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input formControlName="password" type="password"></ion-input>
          </ion-item>
          <ion-item lines="none" *ngIf="isFormControlInvalid('password')">
            <ion-label color="danger">A valid password should be at least 6 characters long.</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-button type="submit" (click)="authorize()" color="primary" expand="block"
            [disabled]="form.invalid || isProcessing">
            <ion-icon slot="start" name="log-in-outline"></ion-icon>
            {{view === 'login' ? 'Log in' : 'Sign up'}}
            <ion-spinner *ngIf="isProcessing"></ion-spinner>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>