<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="defaultBackUrl"></ion-back-button>
    </ion-buttons>
    <ion-title>{{place?.title}}</ion-title>
    <ion-buttons slot="primary">
      <ion-button [disabled]="form?.invalid" (click)="updateOffer()">
        <ion-icon slot="start" name="save-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [ngSwitch]="view">
  <div *ngSwitchCase="'loading-data'" class="ion-text-center">
    <ion-spinner name="bubbles" color="primary"></ion-spinner>
    <span>Loadng a place...</span>
  </div>

  <form *ngSwitchCase="'data-loaded'" [formGroup]="form">
    <ion-grid fixed>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">

          <ion-item>
            <ion-label position="floating">Title</ion-label>
            <ion-input formControlName="title" type="text"></ion-input>
          </ion-item>
          <ion-item *ngIf="isFormControlInvalid('title')" lines="none">
            <ion-text color="danger" class="form-error">
              Please enter a title 2..100 characters long.
            </ion-text>
          </ion-item>

        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">

          <ion-item>
            <ion-label position="floating">Description</ion-label>
            <ion-textarea rows="6" formControlName="description"></ion-textarea>
          </ion-item>
          <ion-item *ngIf="isFormControlInvalid('description')" lines="none">
            <ion-text color="danger" class="form-error">
              Please enter a description 10..256 characters long.
            </ion-text>
          </ion-item>

        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">

          <ion-item>
            <ion-label position="floating">Price per night</ion-label>
            <ion-input type="number" formControlName="price"></ion-input>
          </ion-item>
          <ion-item *ngIf="isFormControlInvalid('price')" lines="none">
            <ion-text color="danger" class="form-error">
              Price should be defined
            </ion-text>
          </ion-item>

        </ion-col>
      </ion-row>
      <!-- <ion-row>
        <ion-col size-sm="3" offset-sm="3">

          <ion-item>
            <ion-label position="floating">Available From</ion-label>
            <ion-datetime formControlName="availableFrom" display-format="DD.MM.YYYY"></ion-datetime>
          </ion-item>
          <ion-item *ngIf="isFormControlInvalid('availableFrom')" lines="none">
            <ion-text color="danger" class="form-error">
              The Available From date is not valid.
            </ion-text>
          </ion-item>

        </ion-col>
        <ion-col size-sm="3">

          <ion-item>
            <ion-label position="floating">Available To</ion-label>
            <ion-datetime formControlName="availableTo" display-format="DD.MM.YYYY"></ion-datetime>
          </ion-item>
          <ion-item *ngIf="isFormControlInvalid('availableTo')" lines="none">
            <ion-text color="danger" class="form-error">
              The Available To date is not valid.
            </ion-text>
          </ion-item>

        </ion-col>
      </ion-row> -->
    </ion-grid>
  </form>
</ion-content>