<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="defaultBackUrl"></ion-back-button>
    </ion-buttons>
    <ion-title>My Bookings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-grid fixed>
      <ion-row>
        <ion-col *ngIf="!bookings || !bookings.length" size-md="6" offset-md="3">
          <p class="ion-text-center">
            Your bookings will be placed here.
          </p>
          <p class="ion-text-center">
            You don't have any bookings at the moment.
          </p>
          <p class="ion-text-center">
            <ion-button (click)="discoverPlaces()" expand="block">
              Find a place
            </ion-button>
          </p>
        </ion-col>
        <ion-col *ngIf="bookings && bookings.length" size-md="6" offset-md="3">
          <ion-item-sliding *ngFor="let booking of bookings" #ionItemSliding>
            <ion-item>
              <ion-avatar slot="start">
                <img [src]="booking.placeImageUrl" />
              </ion-avatar>
              <ion-label>
                <h5>{{booking.placeTitle}}</h5>
                <p>Guests: {{booking.guestsNumber}}</p>
              </ion-label>
            </ion-item>
            <ion-item-options>
              <ion-item-option color="danger">
                <ion-icon name="trash-bin-outline" slot="icon-only"
                  (click)="cancelBooking(booking.id); ionItemSliding.close()"></ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-list>
</ion-content>