<ion-tabs>
  <ion-tab-bar slot="bottom,top">
    <ion-tab-button tab="discover">
      <ion-icon name="search"></ion-icon>
      <ion-label>Discover</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="offers">
      <ion-icon name="card"></ion-icon>
      <ion-label>Offers</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>