<ion-card>
  <ion-card-header>
    <ion-card-subtitle>{{place.price | currency}} / Night</ion-card-subtitle>
    <ion-card-title>{{place.title}}</ion-card-title>
  </ion-card-header>
  <ion-img [src]="place.imageUrl"></ion-img>
  <ion-card-content>
    <p>{{place.description}}</p>
  </ion-card-content>
  <div>
    <ion-button (click)="selecetPlace()" color="primary" expand="block" fill="clear" shape="round">
      More
    </ion-button>
  </div>
  <!-- <ion-card button>
    More
  </ion-card> -->
</ion-card>