<ion-header>
  <ion-toolbar>
    <ion-title>Book</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 class="ion-text-center">{{place.title}}</h1>
  <p class="ion-text-center">{{place.description}}</p>

  <form [formGroup]="form" (ngSubmit)="bookPlace()">
    <ion-grid fixed>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">

          <ion-item>
            <ion-label position="floating">First Name</ion-label>
            <ion-input formControlName="firstName" type="text"></ion-input>
          </ion-item>
          <ion-item *ngIf="isFormControlInvalid('firstName')" lines="none">
            <ion-text color="danger" class="form-error">
              Please enter a first name of the lead guest.
            </ion-text>
          </ion-item>

        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">

          <ion-item>
            <ion-label position="floating">Last Name</ion-label>
            <ion-input formControlName="lastName" type="text"></ion-input>
          </ion-item>
          <ion-item *ngIf="isFormControlInvalid('lastName')" lines="none">
            <ion-text color="danger" class="form-error">
              Please enter a last name of the lead guest.
            </ion-text>
          </ion-item>

        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">

          <ion-item>
            <ion-label position="floating">Number of guests</ion-label>
            <ion-select formControlName="guestsNumber">
              <ion-select-option value="1">1</ion-select-option>
              <ion-select-option value="2">2</ion-select-option>
              <ion-select-option value="3">3</ion-select-option>
              <ion-select-option value="4">4</ion-select-option>
              <ion-select-option value="5">5</ion-select-option>
              <ion-select-option value="6">6</ion-select-option>
              <ion-select-option value="7">7</ion-select-option>
              <ion-select-option value="8">8</ion-select-option>
              <ion-select-option value="9">9</ion-select-option>
              <ion-select-option value="10">10</ion-select-option>
            </ion-select>

          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6" size-sm="3" offset-sm="3">

          <ion-item>
            <ion-label position="floating">Start Date</ion-label>
            <ion-datetime [displayFormat]="dateFormat" min="2020-03-14" max="2025-12-09" formControlName="startDate">
            </ion-datetime>
          </ion-item>

        </ion-col>
        <ion-col size="6" size-sm="3">

          <ion-item>
            <ion-label position="floating">End Date</ion-label>
            <ion-datetime [displayFormat]="dateFormat" min="2020-03-14" max="2025-12-09" formControlName="endDate">
            </ion-datetime>
          </ion-item>

        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">

          <ion-button type="submit" color="primary" class="ion-margin" expand="block" [disabled]="form.invalid">
            Confirm Booking
          </ion-button>

        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>