.location-image-wrapper {
    width: 30rem;
    max-width: 80%;
    height: 20rem;
    max-height: 30vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .location-image {
        border: 1px solid var(--ion-color-primary);
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}