<div [ngSwitch]="view">
  <div *ngSwitchCase="'location-not-selected'">
    <ion-button (click)="showActionSheet()" color="primary" expand="block">
      <ion-icon slot="start" name="map"></ion-icon>
      <ion-label>
        Select Location
      </ion-label>
    </ion-button>
  </div>

  <div class="location-image-wrapper" *ngSwitchCase="'location-selected'" (click)="showActionSheet()">
    <ion-label>{{pickedAddress}}</ion-label>
    <ion-img class="location-image" [src]="staticMapUrl"></ion-img>
  </div>

  <p *ngSwitchDefault>
    '{{view}}' is not supported.
  </p>
</div>