.map {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: transparent;

    opacity: 0;
    transition: opacity 150ms ease-in;

    &.visible {
        opacity: 1;
    }
}