<ion-header>
  <ion-toolbar *ngIf="clickable">
    <ion-title>Pick Location</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="cancel()">
        Cancel
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar *ngIf="!clickable">
    <ion-title>Observe Location</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="cancel()">
        Close
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="map" #map></div>
</ion-content>