<ion-menu (ionWillOpen)="onMenuOpen()" [contentId]="contentId" [menuId]="menuId" side="start" type="overlay">
  <ion-header>
    <ion-toolbar>
      <ion-title>Udemy Ionic Angular Cource</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-menu-toggle [menu]="menuId">
        <ion-item lines="none" [routerLink]="discoverPlacesLink">
          <ion-icon slot="start" name="business"></ion-icon>
          <ion-label>Discover Places</ion-label>
        </ion-item>
      </ion-menu-toggle>

      <ion-menu-toggle [menu]="menuId">
        <ion-item lines="none" [routerLink]="bookingsLink">
          <ion-icon slot="start" name="checkbox-outline"></ion-icon>
          <ion-label>My Bookings</ion-label>
        </ion-item>
      </ion-menu-toggle>

      <ion-menu-toggle *ngIf="isAuthenticated" [menu]="menuId">
        <ion-item lines="none" button (click)="logout()">
          <ion-icon slot="start" name="exit-outline"></ion-icon>
          <ion-label>Logout</ion-label>
        </ion-item>
      </ion-menu-toggle>

      <ion-menu-toggle *ngIf="!isAuthenticated" [menu]="menuId">
        <ion-item lines="none" button (click)="login()">
          <ion-icon slot="start" name="log-in-outline"></ion-icon>
          <ion-label>Login</ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>