<div [ngSwitch]="view">
  <div *ngSwitchCase="'image-not-selected'">
    <ion-button (click)="showActionSheet()" color="primary" expand="block">
      <ion-icon slot="start" name="camera"></ion-icon>
      <ion-label>
        Take a Picture
      </ion-label>
    </ion-button>
  </div>

  <div class="preview-image-wrapper" *ngSwitchCase="'image-selected'" (click)="showActionSheet()">
    <ion-img class="preview-image" [src]="imageUrl"></ion-img>
  </div>

  <p *ngSwitchDefault>
    '{{view}}' is not supported.
  </p>
</div>